/* @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); */
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Oswald', sans-serif;
  background-image: url("https://images.pexels.com/photos/1591447/pexels-photo-1591447.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(238, 237, 237, 0.33);
  
  color: rgb(105, 104, 104);
  font-family: sans-serif
}



@media(max-width:767px) {
  .container {
      height: fit-content
  }
}

.weather {
  width: 520px;
}

@media(max-width:767px) {
  .weather {
      width: 100%
  }
}
@media(max-width:400px) {
  .title {
      width: 100%
  
  }
}
@media only screen and (max-width: 380px){
  .header{
    font-size: large;
  }    
  }

@media(max-width:400px) {
  .tepm{
      font-size: 10px !important;
  
  }
}

.card {
  height: 400px;
  padding: 1rem;
  margin: 1.5rem 4vw;
  border-radius: 1rem;
  background-color: rgba(238, 237, 237, 0.22);
  border-color: black;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  text-align: center
}

@media(max-width:768px) {
  .card {
      margin: 1.4rem
  }
}

.main1{
  margin: auto;
  text-align: center;
  color: #3385ff;
  font-weight: bold;
  border: none;
  padding: 4px;
  font-size: large;
  
}
.value{
  font-weight: bolder;
  font-size: 20px;
  
}

.title {
  justify-content: center;
  color: red;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.title p {
  margin-bottom: 0.2rem;
  font-size: 1.2rem
}

.temp {
  font-size: 6.2rem;
  margin-bottom: 1rem;
  color:   #2e2eb8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
  color: #ff6600;
  font-size: larger;
  font-weight: bold;
}
.a{
  color: black;
  font-size: 70px;
}
.col-4 {
  padding: 0 0.2rem
}

.icon {
  align-self: flex-end;
  margin-right: -2.5rem;
  margin-top: -2rem;
  z-index: 999
}

.icon img {
  width: 5rem
}
